body {
    font-family: "Noto Sans TC", sans-serif;
    background: linear-gradient(144deg, #f0bfff, #dbd9ff);
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    background: #fff;
    width: 100%;
    max-width: 460px;
    height: 100vh;
    max-height: 95vh;
    border-radius: 22px;
    padding: 20px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, .15);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-image: url(https://www.popdaily.com.tw/shaper/u/202310/c64f5d34-ff76-4f26-a500-52c36abf4cd7.png);
}

@media (max-width: 600px) {
    body {
        align-items: flex-start;
        background: linear-gradient(144deg, #f0bfff, #dbd9ff);
        align-items: center;
    }

    .card {
        max-width: 100%;
        height: 100vh;
        border-radius: 0;
        padding: 15px;
    }

    .result {
        flex: 1;
        -webkit-overflow-scrolling: touch;
    }
}


h1 {
    text-align: center;
    margin: 0 0 12px;
}

input {
    padding: 12px;
    border-radius: 14px;
    background-color: #cdaeff78;
    border: 2px solid #ffc2d9;
    font-size: 16px;
    outline: none;
    -webkit-appearance: none;
}

input:focus {
    border-color: #ff7eb6;
}

.result {
    margin-top: 15px;
    overflow-y: auto;
    scrollbar-width: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.item {
    background: #e4dbfb91;
    border-radius: 14px;
    padding: 12px;
    margin-bottom: 10px;
    animation: fadeIn .2s ease;
    backdrop-filter: blur(3px);
    width: 85%;
    height: 4rem;
}

.item:hover {
    background: linear-gradient(158deg, #b8abffb5, #dbd9ffb5, #fecaffb5);
    width: 95%;
    height: 5rem;
}

.img_p {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    width: 100px;
    height: 100%;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    background-image: url(./img/viya.webp);
    background-size: cover;
    opacity: 0.7;
}

.song {
    font-weight: bold;
    font-size: 16px;
}

.meta {
    font-size: 14px;
    color: #555;
    margin-top: 2px;
}

.tag {
    display: inline-block;
    background: #d398ff78;
    color: #6e22d3;
    padding: 2px 8px;
    border-radius: 999px;
    font-size: 12px;
    margin-right: 4px;
}

.copy-btn {
    border: none;
    background: #d398ff00;
    color: #6e22d3;
    border-radius: 999px;
    padding: 4px 10px;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    align-items: center;
    z-index: 1;
    position: absolute;
    right: 0px;
    top: 0px;
}

.icon {
    width: 16px;
    height: 16px;
    filter: invert(1) drop-shadow(-1px 0px 0.3px #ca44ffaf) drop-shadow(0px -1px 0.3px #ca44ffaf) drop-shadow(1px 0px 0.3px #ca44ffaf) drop-shadow(0px 1px 0.3px #ca44ffaf);
}

.copy-btn:hover {
    background: #e1c6ff85;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tooltip-link {
    display: flex;
    gap: 0px;
    padding: 0px;
    justify-content: center;
    height: 40px;
    position: relative;
    bottom: 0px;
}

.icon-link {
    position: relative;
    font-size: 60px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
    align-self: center;
}

.icon-link::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    padding: 8px 12px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    border-radius: 6px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.icon-link::after {
    content: "";
    position: absolute;
    bottom: 65%;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    opacity: 0;
    transition: all 0.3s ease;
}

.icon-link:hover::before,
.icon-link:focus::before,
.icon-link:hover::after,
.icon-link:focus::after {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.icon-link:hover {
    color: #1DA1F2;
}